<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SmartMouse_Custom>
            <version>1.0.0</version>
        </SmartMouse_Custom>
    </modules>

    <global>
        <helpers>
            <custom>
                <class>SmartMouse_Custom_Helper</class>
            </custom>
        </helpers>

        <models>
            <custom>
                <class>SmartMouse_Custom_Model</class>
                <resourceModel>custom_resource</resourceModel>
            </custom>

            <custom_resource>
                <class>SmartMouse_Custom_Model_Resource</class>
                <entities>
                    <custom>
                        <table>custom</table>
                    </custom>
                </entities>
            </custom_resource>
        </models>

        <resources>
            <custom_setup>
                <setup>
                    <module>SmartMouse_Custom</module>
                </setup>
            </custom_setup>
        </resources>

        <blocks>
            <custom>
                <class>SmartMouse_Custom_Block</class>
            </custom>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <custom before="Mage_Adminhtml">SmartMouse_Custom_Adminhtml</custom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <custom>
                    <file>custom.xml</file>
                </custom>
            </updates>
        </layout>
    </adminhtml>
</config>
